<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="com.inetbankingv4.utility.Reporting" />
	</listeners>
	
	<test name="inetbankingv4 App Test">
		
		<classes>
			<class name="com.inetbankingv4.testcase.TC_001_LoginPageTest" />
			<class name="com.inetbankingv4.testcase.TC_002_ManagerPageTest" />
			<class name="com.inetbankingv4.testcase.TC_003_AddCustomerPageTest" />
		</classes>

	</test> <!-- Test -->
</suite> <!-- Suite -->
